@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background: #f5f5f5;
}

.text{
    overflow-y: hidden;
    max-height: 0;
    transition: max-height 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.text.full{
    overflow:visible;
    max-height: 5000px;
    transition: max-height 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
iframe {
    width:100%;
    height:300px;
  }

  .list-style iframe{
    width: 100%;
    height: 150px;
  }

.search-youtube iframe{
    width: 80px;
    height: 80px;

}
::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: rgba(14, 15, 15, 0.4);
    border-radius: 4px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.6);
  }
/* 

@keyframes fade-out{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes fade-out{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

@keyframes slide-to-right{
    from{
        transform: translateY(4rem);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes slide-to-left{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateY(-4rem);
    }
}

::view-transition-old(root){
    animation: fade-out 350ms ease-out

  }
  ::view-transition-new(root) {
    animation: fade-in 350ms ease-in,
    slide-to-left 350ms ease-in ;
    mix-blend-mode: normal;
  }   */